<div class="container">
  <footer class="footer">
    <small>
      Copyright &copy; <a href="https://www.udemy.com/the-complete-ruby-on-rails-developer-course">Udemy</a>.
      <a href="/">Alpha Blog App</a> by <a href="https://twitter.com/SchuKnight">Libby Schumacher-Knight</a>
    </small>
    <nav>
      <ul>
        <li><%= link_to "About", about_path %></li>
      </ul>
    </nav>
  </footer>
</div>
